body,
html {
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: white;
}

.navbar-default a.navbar-brand,
.navbar-default a.navbar-brand:visited,
.navbar-default a.navbar-brand:link,
.navbar-default a.navbar-brand:hover {
  color: white;
  background-image: url(../img/logo-transparent.png);
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 110px;
  vertical-align: baseline;
  line-height: 66px;
  font-size: 30px;
  height: 100px;
}
.lead {
  font-size: 18px;
}

.home h1,
.home h3 {
  color: white;
}
.home h1 {
    font-size: 60px;
    text-align: right;
}

.intro-header {
  padding-top: 100px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/intro-bg-perso.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.iphone-preview {
  width: 100%;
}
.navbar {
  transition: all .3s;
}
.navbar-default.navbar-scrolled {
  background-color: #38c6ff;
}
@media(min-width:768px) {
  .navbar-nav.navbar-right {
    padding-top: 24px;
    color: white;
  }
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>li>a:hover {
  color: white;
  text-decoration: underline;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: white;
  text-decoration: underline;
  background-color: transparent;
}

.navbar-toggle {
  margin-top: 32px;
}
.navbar-default .navbar-toggle {
  border-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  transition: background .3s;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }
}

/*Content section with key points*/
.content-section {
  padding: 50px 0;
}
.key-point {
  padding:0 50px;
  text-align: center;
  color: #959595;
}
.key-point .title {
  margin-bottom: 30px;
  color: #38c6ff;
  font-weight: 100;
}

footer {
  padding: 50px 0;
  background-color: #38c6ff;
}

p.copyright {
  margin: 15px 0 0;
}
