<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="#the-app">The App</a></li>
        <!-- <li><a class="page-scroll" href="#team">Team</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<section id="home" class="home">
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="intro-message">
            <h1>What's your Air&nbsp;Color?</h1>
            <h3>Know and understand your Air&nbsp;Quality environment wherever you are</h3>
            <a href="https://itunes.apple.com/us/app/air-colors/id1045274483?l=fr&ls=1&mt=8" class="app-store-link"></a>
          </div>
        </div>
        <div class="col-md-4">
          <img class="iphone-preview" src="img/iphone-preview.png" />
        </div>
      </div>
    </div>
  </div>
</section>
