<section id="the-app">
  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="key-point">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <h2 class="title">Know your environment wherever you are</h2>
            <div class="lead">With its built-in geolocalization feature and the thousands of measurements points through North America (USA/Canada/Mexico), Air Colors tells you what your Air Quality environment is right where you are.</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="key-point">
            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
            <h2 class="title">Easy and simple to use</h2>
            <div class="lead">Because we are not all experts in Air Quality, Air Colors makes it easy for you to understand what your Air Quality environment is and teach you what you need to know along the road.</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="key-point">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <h2 class="title">Make better choices and preserve your health</h2>
            <div class="lead">Because being aware and well informed is the key to make better choices Air Colors will help you to do so and preserve your health.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
