<section id="the-app">
  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="key-point">
            <h2 class="title">Know your environment</h2>
            <div class="lead">Hinc ille commotus ut iniusta perferens et indigna praefecti custodiam protectoribus mandaverat fidis. quo conperto Montius tunc quaestor acer quidem sed ad lenitatem propensior commotus ut iniusta perferens et indigna.</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="key-point">
            <h2 class="title">Make better choices</h2>
            <div class="lead">Hinc ille commotus ut iniusta perferens et indigna praefecti custodiam protectoribus mandaverat fidis. </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="key-point">
            <h2 class="title">Preserve your health</h2>
            <div class="lead">Hinc ille commotus ut iniusta perferens et indigna praefecti custodiam protectoribus mandaverat fidis. quaestor acer quidem sed ad lenitatem propensior.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
